h1,h2,h3,h4,.sub-head1{
  font-family: "Bellefair", sans-serif;
}

h5,.nav,.sub-head2{
  font-family: "Barlow Condence", sans-serif;
}

h1{
  font-size: 9.375rem;
}
h2{
  font-size: 6.25rem;
}
h3{
  font-size: 3.5rem;
}
h4{
  font-size: 2rem;
}
h5{
  font-size: 1.75rem;
  letter-spacing: 0.295rem;
}
.sub-head1{
  font-size: 1.75rem;
}
.sub-head2{
  font-size: 0.875rem;
  letter-spacing: 0.148rem;
}
.nav{
  font-size: 1rem;
  letter-spacing: 0.169rem;
}
